<div class="modal-header">
  <h4 class="modal-title"> {{ userDetail.firstName }} {{ userDetail.lastName }} </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form role="form" id="userUpdateForm" [formGroup]="userUpdateForm" (ngSubmit)="userUpdateSubmitHandler()">

    <div class="row">

      <div class="col-xl-6 col-sm-12">

        <ul class="list-group">
          <li class="list-group-item"><label>Id:</label> <input formControlName="id" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>Firstname:</label> <input formControlName="firstName" name="firstname" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>Lastname:</label> <input formControlName="lastName" name="lastname" class="form-control" type="text" value=""></li>
        </ul>
        <p></p>
        <ul class="list-group">
          <li class="list-group-item"><label>Laptop:</label>
            <select class="form-control" formControlName="laptop">
              <option value="null">-</option>
              <option *ngFor="let laptopEl of laptops"  [ngValue]="laptopEl">
                {{ laptopEl.name }} ({{ laptopEl.brand }} {{ laptopEl.type }})
              </option>
            </select>
          </li>
        </ul>

      </div>

      <div class="col-xl-6 col-sm-12">

        <ul class="list-group" formGroupName="address">
          <li class="list-group-item"><label>Street:</label> <input formControlName="street" name="street" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>Number:</label> <input formControlName="number" name="number" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>Zip:</label> <input formControlName="zip" name="zipcode" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>City:</label> <input formControlName="city" name="city" class="form-control" type="text" value=""></li>
        </ul>

      </div>

    </div>

  </form>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger mr-auto" (click)="onDeleteConfirm()">Delete user</button>

  <button type="submit" form="userUpdateForm" class="btn btn-success" [disabled]="userUpdateForm.untouched || userUpdateForm.invalid">Save</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>


