<ul class="nav nav-tabs">
  <li class="nav-item" >
    <a class="nav-link" [routerLink]="['/laptops/in-use']" routerLinkActive="active" >In use</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  [routerLink]="['/laptops/list']" routerLinkActive="active">All Laptops</a>
  </li>
</ul>

<router-outlet></router-outlet>

<button class="btn btn-primary" (click)="onAddLaptop()">Add Laptop</button>
