  <div class="modal-header" >
    <h4 class="modal-title"> {{ laptopDetail.name }} </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <ul class="nav nav-tabs mb-4">
      <li class="nav-item" >
        <a class="nav-link" [ngClass]="{'active': activetab === 1}" (click)="activetab = 1">Laptop info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': activetab === 2}" (click)="activetab = 2">User info</a>
      </li>
    </ul>

    <form role="form" id="laptopUpdateForm" [formGroup]="laptopUpdateForm" (ngSubmit)="laptopUpdateSubmitHandler()">

      <!-- TAB1 - Laptop Info -->
      <div class="row" [hidden]="activetab!==1" formGroupName="laptop">

        <div class="col-xl-6 col-sm-12">
          <ul class="list-group">
            <li class="list-group-item"><label>Id:</label> <input formControlName="id" class="form-control" type="text" value=""></li>
            <li class="list-group-item"><label>Name:</label> <input formControlName="name" class="form-control" type="text" value=""></li>
            <li class="list-group-item"><label>Brand:</label> <input formControlName="brand" class="form-control" type="text" value=""></li>
            <li class="list-group-item"><label>Type:</label> <input formControlName="type" class="form-control" type="text" value=""></li>
            <li class="list-group-item"><label>Serial number:</label> <input formControlName="serialNumber" class="form-control" type="text" value=""></li>
            <li class="list-group-item"><label>Waranty number:</label> <input formControlName="warantyNumber" class="form-control" type="text" value=""></li>
            <li class="list-group-item"><label>Service tag:</label> <input formControlName="serviceTag" class="form-control" type="text" value=""></li>
          </ul>
        </div>

        <div class="col-xl-6 col-sm-12">
          <ul class="list-group">
            <li class="list-group-item"><label>Keyboard layout:</label>
              <!-- <input formControlName="keyboardLayout" class="form-control" type="text" value=""> -->
              <select class="form-control" formControlName="keyboardLayout">
                  <option value="null">-</option>
                  <option value="1">Azerty</option>
                  <option value="2">Qwerty</option>
                </select>
            </li>
            <li class="list-group-item"><label>Purchase date:</label>
              <div class="input-group">
                <input formControlName="purchaseDate" class="form-control" placeholder="dd-mm-yyyy" type="text" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                </div>
              </div>
            </li>
            <li class="list-group-item"><label>Note:</label> <textarea formControlName="note" class="form-control" rows="5"></textarea></li>
            <li class="list-group-item"><label>Screen size:</label> <input formControlName="screenSize" class="form-control" type="text" value=""></li>
          </ul>
        </div>

      </div>

      <!-- TAB2 - User Info -->
      <div class="row" [hidden]="activetab!==2" formGroupName="inuse">

        <div class="col-xl-6 col-sm-12">

          <ul class="list-group">
            <li class="list-group-item"><label>Used by:</label>
              <select class="form-control" formControlName="user">
                <option value="null">-</option>
                <option *ngFor="let userEl of users"  [ngValue]="userEl.id">
                  {{ userEl.firstName }} {{ userEl.lastName }}
                </option>
              </select>
            </li>
            <li class="list-group-item"><label>Used from:</label>
              <div class="input-group">
                <input formControlName="useFrom" class="form-control" placeholder="dd-mm-yyyy" type="text" ngbDatepicker #dFrom="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dFrom.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                </div>
              </div>
            </li>
            <li class="list-group-item"><label>Used until:</label>
              <div class="input-group">
                <input formControlName="useUntil" class="form-control" placeholder="dd-mm-yyyy" type="text" ngbDatepicker #dUntil="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dUntil.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                </div>
              </div>
            </li>
          </ul>

        </div>

        <div class="col-xl-6 col-sm-12">

        </div>

      </div>

    </form>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger mr-auto" (click)="onDeleteConfirm()">Delete laptop</button>

    <button type="submit" form="laptopUpdateForm" class="btn btn-success" [disabled]="laptopUpdateForm.untouched || laptopUpdateForm.invalid">Save</button>
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button>
  </div>
