<div class="modal-header">
  <h4 class="modal-title"> Add New Laptop </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form role="form" id="laptopAddForm" [formGroup]="laptopAddForm" (ngSubmit)="laptopAddSubmitHandler()">
    <div class="row">

      <div class="col-xl-6 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item"><label>Name:</label> <input formControlName="name" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>Brand:</label> <input formControlName="brand" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>Type:</label> <input formControlName="type" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>Serial number:</label> <input formControlName="serialNumber" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>Waranty number:</label> <input formControlName="warantyNumber" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>Service tag:</label> <input formControlName="serviceTag" class="form-control" type="text" value=""></li>
          <li class="list-group-item"><label>Screen size:</label> <input formControlName="screenSize" class="form-control" type="text" value=""></li>
        </ul>
      </div>

      <div class="col-xl-6 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item"><label>Keyboard layout:</label>
            <select class="form-control" formControlName="keyboardLayout">
                <option value="">-</option>
                <option value="1">Azerty</option>
                <option value="2">Qwerty</option>
              </select>
          </li>
          <li class="list-group-item"><label>Purchase date:</label>
            <div class="input-group">
              <input formControlName="purchaseDate" class="form-control" placeholder="dd-mm-yyyy" type="text" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
              </div>
            </div>
          </li>
          <li class="list-group-item"><label>Note:</label> <textarea formControlName="note" class="form-control" rows="5"></textarea></li>
        </ul>
      </div>

    </div>
  </form>

</div>

<div class="modal-footer">
  <button type="submit" form="laptopAddForm" class="btn btn-success" [disabled]="laptopAddForm.untouched || laptopAddForm.invalid">Save</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
