<app-nav-bar></app-nav-bar>

<div id="wrapper">

  <app-side-bar></app-side-bar>

  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- CONTENT -->
      <router-outlet></router-outlet>

    </div>
    <!-- /.container-fluid -->


  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->



