<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item"  routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/laptops']" >
      <span>Laptops</span>
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link"  [routerLink]="['/users']" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span>Users</span>
    </a>
  </li>
</ul>
