
<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ modalName }}</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.close('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete <span class="text-primary">"{{ deleteItemName }}"</span>
    ?</strong></p>
  <p>All information associated to this will be permanently deleted.
  <span class="text-danger">This operation can not be undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('cancel')">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close('confirm')">Ok</button>
</div>

