<div class="form-group">
  <input class="form-control" type="text" (keyup)="onQuickFilterChanged()" [(ngModel)]="quickSearchValue" placeholder="Quick Search" />
</div>

<ag-grid-angular
    style="width: 100%"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    (cellClicked) = "onCellClicked($event)"
    [rowSelection]="'single'"
    [pagination]="true"
    >
</ag-grid-angular>
