
<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Please Login</h4>
</div>
<div class="modal-body">
  <p>To use this application you need to be logged in.</p>
  <!-- <p>bart@harmonydev.onmicrosoft.com // Password123</p> -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-lg mr-auto" (click)="login()">Login</button>
</div>

