/* You can add global styles to this file, and also import other style files */

$ag-icons-path: "../node_modules/ag-grid/src/styles/icons/";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

// @import "/node_modules/angular2-multiselect-dropdown/themes/default.theme.css";

*:focus {
  outline: none !important;
}

a { cursor:pointer; }

.modal .nav-tabs .nav-link.active {
  // font-weight: bold;
  color: #007bff;
}

.ag-theme-balham .ag-ltr .ag-cell-focus {
  border: 1px solid transparent !important;
}

